{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block content %} 
<form class="container" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnectez-vous.</a>
        </div>
    {% endif %}

    <legend> <h1 class="h3 mb-3 font-weight-normal">Connexion</h1> </legend>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    <div class="center">
    <button class="btn btn-lg btn-primary " type="submit"style="background-color: #b18914; color: #ffffff; border-color:  #b18914;">
        Connexion
    </button>
<p>Créer un 
<a style="color: #b18914;" href="{{ path('app_register') }}">Compte</a></p><br> 


</div>

</form>
<style>
legend{
        font-style: italic;
        font-size: 2.1em;
        padding: 5px;
        font-family:centre;
        color:#b18914;
}
.center{
    text-align: center; 
}
h1{
    margin-top: -21px;
}
label{
        color:#000000;
}
body {
background-image: url("uploads/imglavuedor.png");
background-repeat: no-repeat;
background-size: cover;

}
form input,form textarea {
        display: inline-block;
        margin-bottom: 10px;
        padding: 10px;
        width: 80%;
}
.container{
    font-family: Calibri, serif;
    max-width: 50%;
    border: 1px solid lightgray ;
    background-color: rgba( 225, 233, 255, 0.25 );
    margin-top: 50px;
    border-top: 1px transparent;
    margin-bottom:18em;
    
}
button{
        font-family:center;
        margin-bottom:10px;
        margin-top:10px;
        width: 200px;
        text-align: center;
}  

</style>
{% endblock %}
