{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block content %} 
    <div class="container">
        {{ form_start(registrationForm, {'attr': {'class': 'row'}}) }}

        <fieldset>
            <legend>Création de votre compte</legend>
            <p>
                <label for = 'nom'>Nom</label>
                {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Saisissez votre nom'}}) }}
            <span class="error">{{ form_errors(registrationForm.nom) }}</span>
            </p>

            <p>
                <label for = 'prenom'>Prénom</label>
                {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Saisissez votre prénom'}}) }}
                <span class="error">{{ form_errors(registrationForm.prenom) }}</span>
            </p>

            <p>
                <label for = 'numtel'>Numéro de téléphone</label>
                {{ form_widget(registrationForm.numtel, {'attr': {'placeholder': 'Saisissez votre Numéro de téléphone'}}) }}
                <span class="error">{{ form_errors(registrationForm.numtel) }}</span>
            </p>

            <p>
                <label for = 'adresse'>Adresse</label>
                {{ form_widget(registrationForm.adresse, {'attr': {'placeholder': 'Saisissez votre Adresse'}}) }}
                <span class="error">{{ form_errors(registrationForm.adresse) }}</span>
            </p>

            <p>
                <label for = 'email'>E-mail</label>
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Saisissez votre email'}}) }}
                <span class="error">{{ form_errors(registrationForm.email) }}</span>
            </p>

            <p>
                <label for = 'password'>Mot de passe (8 caractères minimum)</label>
                {{ form_widget(registrationForm.password) }}
                <span class="error">{{ form_errors(registrationForm.password) }}</span>
            </p>

            <p>
                <label for = 'confirmpassword'>Vérifier Mot de passe</label>
                {{ form_widget(registrationForm.confirmpassword) }}
                <span class="error">{{ form_errors(registrationForm.confirmpassword) }}</span>
            </p>

            <p>
                <label for = 'allergie'>Vos allergies</label>
            <textarea {{ form_widget(registrationForm.allergie, {'attr': {'cols': '30', 'rows': '10'}}) }} </textarea>
                <span class="error">{{ form_errors(registrationForm.allergie) }}</span>
            </p>

            <br>


        <div class="center">
        <button class="btn btn-lg btn-primary " type="submit"style="background-color: #b18914; color: #ffffff; border-color:  #b18914;">
        S'inscrire
        </button>
    
    <p style=" margin-left: -7px">Vous avez déjà un 
    <a style="color: #b18914;" href="{{ path('app_login') }}">Compte ?</a></p><br> 
    
    
    </div>
        </fieldset>   
        {{ form_end(registrationForm) }}
    </div>

</div>
    <style>
    .container {
    font-family: Calibri, serif;
    max-width: 50%;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    }
    .form-group {
    text-align: center;
    
}
    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    fieldset {
    border: 1px solid lightgray;
    background-color: rgba( 225, 233, 255, 0.25 );
    
    }
    p{
        margin-left: 70px;
    }
    .center{
    text-align: center; 
}
    legend {
        font-style: italic;
        font-size: 2.1em;
        padding: 5px;
        font-family:centre;
        color:#b18914;
    }
    .img{
    margin-left: 900px;    
    }

    form input,form textarea,p {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px;
        width: 90%;
    }
    label{
        color:#000000;
    }
 
button[ type = submit ]{
        font-family:center;
        margin-bottom:10px;
        margin-top:10px;
        width: 200px;
        text-align: center;
}  
    
    body {
background-image: url(src="{{ asset(uploads/imglavuedor.png') }}");
background-repeat: no-repeat;
background-size: cover;

}
    
    </style>
{% endblock %}

