{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block content %} 
    <div class="container">
        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate' }} ) }}

        <fieldset>
            <legend>Création de votre compte</legend>
            <div class="input">
                <label for = 'nom'>Nom</label>
                {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Saisissez votre nom'}}) }}
                {{ form_errors(registrationForm.nom) }}
            </div>

            <div class="input">
                <label for = 'prenom'>Prénom</label>
                {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Saisissez votre prénom'}}) }}
                {{ form_errors(registrationForm.prenom) }}
            </div>

            <div class="input">
                <label for = 'numtel'>Numéro de téléphone</label>
                {{ form_widget(registrationForm.numtel, {'attr': {'placeholder': 'Saisissez votre Numéro de téléphone'}}) }}
                {{ form_errors(registrationForm.numtel) }}
            </div>

            <div class="input">
                <label for = 'adresse'>Adresse</label>
                {{ form_widget(registrationForm.adresse, {'attr': {'placeholder': 'Saisissez votre Adresse'}}) }}
                {{ form_errors(registrationForm.adresse) }}
            </div>

            <div class="input">
                <label for = 'email'>E-mail</label>
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Saisissez votre email'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="input">
                <label for = 'password'>Mot de passe (8 caractères minimum)</label>
                {{ form_widget(registrationForm.password) }}
                {{ form_errors(registrationForm.password) }}
            </div>

            <div class="input">
                <label for = 'confirmpassword'>Vérifier Mot de passe</label>
                {{ form_widget(registrationForm.confirmpassword) }}
                {{ form_errors(registrationForm.confirmpassword) }}
            </div>

            <div class="input">
                <label for = 'allergie'>Vos allergies</label>
                <textarea {{ form_widget(registrationForm.allergie, {'attr': {'cols': '30', 'rows': '10'}}) }} </textarea>
                {{ form_errors(registrationForm.allergie) }}
            </div>
            <br>

                {% if not registrationForm.vars.valid %}
                <div class="alert alert-danger error input ">
                    Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
                </div>

                {% endif %} 
        <div class="center">
        <button class="btn btn-lg btn-primary " type="submit"style="background-color: #b18914; color: #ffffff; border-color:  #b18914;">
        S'inscrire
        </button>
    
    <p style=" margin-left: -7px">Vous avez déjà un 
    <a style="color: #b18914;" href="{{ path('app_login') }}">Compte ?</a></p><br> 
    
    
    </div>
        </fieldset>   
        {{ form_end(registrationForm) }}
    </div>

</div>
    <style>
    .container {
    font-family: Calibri, serif;
    max-width: 50%;
    margin-bottom:20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    }
    .form-group {
    text-align: center;
    
}
    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    fieldset {
    border: 1px solid lightgray;
    background-color: rgba( 225, 233, 255, 0.25 );
    
    }
    .input{
        margin-left: 70px;
        width: 90%;
        padding: 5px;
        margin-bottom: 5px;
        display: inline-block ;
    }
    .error{
        max-width: 81%;
    }
    .center{
    text-align: center; 
}
    legend {
        font-style: italic;
        font-size: 2.1em;
        padding: 5px;
        font-family:centre;
        color:#b18914;
    }
    .img{
    margin-left: 900px;    
    }

    form input,form textarea{
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px;
        width: 90%;
    }
    label{
        color:#000000;
    }

button[ type = submit ]{
        font-family:center;
        margin-bottom:10px;
        margin-top:10px;
        width: 200px;
        text-align: center;
}  
    
body {
        background-image: url("{{ vich_uploader_asset(image_accueils|last, 'imageFile') }}");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    </style>
{% endblock %}

