{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block content %}

<div class="container-fluid">
        {# Titre de la page #}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
            </div>
        </div>
        

        <div class="row alert alert-warning" role="alert">
            <div class="col-xs-9 col-sm-10"></div>

            <div class="col-xs-3 col-sm-2">
                <a href="{{ path('reservation_edit') }}" role="button" class="btn btn-info text-right"style="background-color: #b18914; color: #ffffff; border-color:  #b18914;">
                    <i class="fa fa-plus fa-fw"></i> + Ajouter une reservation
                </a>
            
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">  N°</th>
                    <th scope="col">Nombre de personnes</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Allergie</th>
                    <th scope="col">{# Bouton d'action - Supprimer #}</th>
                    <th scope="col">{# Bouton d'action - Modifier #}</th>
                </tr>
            </thead>
            <tbody>
                {% set z = 1 %}
                {% for reservation in reservations %} 
                <tr>
                    <th scope="row">
                    {{z}}
                    </th>
                    <td>
                        {{ reservation.nombreCouvert}}
                    </td>
                    <td>
                        {{ reservation.date ? reservation.date|date('Y-m-d') : ''}}
                    </td>
                    <td>
                        {{ reservation.heure ? reservation.heure|date('H:i:s') : ''}}
                    </td>
                    <td>
                        {{ reservation.allergie|nl2br }}
                    </td>
                    <td>
                        <a href="{{ path('remove_reservation', {'id': reservation.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                    </td>
                    <td>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" role="button" class="btn btn-info"style="background-color: #b18914; color: #ffffff; border-color:  #b18914;">Modifier</a>
                    </td>
                    {% set z = z + 1 %}
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock %}

{% block stylesheets %}
<style>
.table{
background-color:#f5f5f5;
margin-bottom:10em;
}
h2{
    font-family: Bodoni, serif;
    letter-spacing: .05em;
    font-size: 2em;
    margin-bottom: 1em;
    font-style: italic;
    color: #cd9700;
    font-weight: 400;
    text-align: center;
    
    ;
}

</style>
{% endblock %}
