{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block content %}
{# <script src="{{ asset('templates/accueil/mon-script.js') }}"></script> #}
<div class="element-specifique">
{% set last_id = image_accueils|last.id %} 
{% for image_accueil in image_accueils %}
{% if image_accueil.id == last_id %}
    <img class="img" src="{{ vich_uploader_asset(image_accueil, 'imageFile') }}"  width="1475" height="600" alt="{{ image_accueil.nom }}">
{% endif %}
{% endfor %}


<br>
{% if is_granted('ROLE_ADMIN') %}
<button class="bouton">
<a href="{{ path('app_image_accueil_new') }}"role="button"  class="btn "style=" color: #b18914;">
<i ></i>
Modifier          
</a>
</button>
{% endif %}

<br>
</div>
<img class="imgmanu" src="{{ asset('uploads/menu.png') }}" alt="logo" width="10%"  height="10%" >  

<div class="element-specifique">
{# <P class="paragraphe">Chez La vue d'or, nous explorons les classiques de la grande gastronomie française pour les remettre <br> au goût du jour.<br>

    Ainsi, notre cuisine offre le réconfort des produits nobles et des appellations simples qui ont fait la réputation<br> de notre maison et assure une véritable contemporanéité à travers des sauces d'exception.<br>
    
    Au restaurant, sous l'immense toit mécanique, ou dans nos salons privés, venez partager un moment<br> d'histoire(s). 
</P> #}
<div class="container">
{% set last_id = modifparagraphes|last.id %} 
{% for modifparagraphe in modifparagraphes %}
{% if modifparagraphe.id == last_id %}
    <p class="paragraphe">{{ modifparagraphe.paragraphe }}</p>
{% endif %}
{% endfor %}
</div>


{% if is_granted('ROLE_ADMIN') %} 
<button class="bouton">
<a href="{{ path('app_modifparagraphe_new') }}"role="button"  class="btn "style=" color: #b18914;">
<i ></i>
Modifier          
</a>
</button>
{% endif %}
</div>

{% for image in images %}
<img id="img_list" class="imagePlat" src="{{ vich_uploader_asset(image, 'imageFile') }}"  width="280" height="380" alt="{{ image.imageName }}">
{% endfor %}
<br>
<a href="{{ path('reservation_edit') }}"role="button" class="btn btn-info text-right"style="background-color: #b18914; color: #ffffff; border-color:  #b18914; width: 170px;margin-top:3em;margin-bottom:3em;margin-left:45%;text-align: center;">Réservez votre table</a>

<style>
.logo{
position: absolute; 
top: 35%; 
left: 50%;
transform: translate(-50%, -50%); 
} 
.imagePlat{
    margin-bottom:10px;
    margin-left:17px;
}
.paragraphe{
    text-align: center;
    margin-bottom:6em;
    max-width: 80%;
    margin-left:11%;



    
}
.imgmanu{
    margin-top:4em;
    margin-left:45%;
}
.img{
margin-left:1.5em;
margin-top:1.5em;
}

.element-specifique {
        position: relative;
    }
    .bouton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        border:lightgray ;
    }
    .element-specifique:hover .bouton {
        visibility: visible;
    }

</style>


{% endblock %}
