<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block stylesheets %}{% endblock %}
    <title>Restaurant {% block title %}{% endblock %}</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_accueil') }}"><img class="image-sombre" src="{{ asset('uploads/logofinal.png') }}" alt="imagelogo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobileMenu">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                {% if app.user %}
                <li class="nav-item">
                    <span class="nav-link" style="color: #cd9700;">Bienvenue {{ app.user.nom }}!</span>
                </li>
                {% endif %}

                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
                </li>

                
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_MenuS') }}">Menu</a>
                </li>

                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_listeplat') }}">Liste des plats</a>
                </li>
            
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_images_index') }}">Galerie d’images</a>
                </li>
                
                {% else %} 
            
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="#img_list">Galerie d’images</a>
                </li>
                {% endif  %}
                
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_reservation_new') }}">Réserver</a>
                </li>
                {% if app.user %} 
                {% if is_granted('ROLE_ADMIN') %} 
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_reservation_index') }}">Les réservations</a> 
                    {% else %} 
                    {# {% set set reservations = app.user.reservations %} 
                    {% if reservation == app.user.reservations %} #}
                    <a class="nav-link" href="{{ path('app_reservation_index') }}">Mes réservations</a>
                    {# {% endif %} #}
                </li> 
                {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_seuil_maximum_index') }}">Seuil maximum</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'accueil' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_user_index') }}">Nos clients</a>
                </li>
                {% endif  %}

                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                {% endif %}
                
                {% if not app.user %}
                <li class=" nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}">
                    <a class=" nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li> 
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="  text-light ">
            <div class=" py-3">
                <div >
                    <div class="footer">
                            <p > Restaurant la vue d'or <br>
                    </div>
                    <div class="p">
                        <strong>107 Quai des États-Unis<br> 06300 Nice</strong>
 <div class="element-specifique">
<div class="cont">      

{% set last_id = horaires|last.id %} 
{% for horaire in horaires %} 
 {% if horaire.id == last_id %}
 <p class="horaire">Ouvert de {{ horaire.premierjour }} à {{ horaire.dernierjour }} le midi de {{ horaire.heureOuvertureMatin|format_hour}} à {{ horaire.heureFerMatin|format_hour}} et le soir de {{ horaire.heureOuvertureSoire|format_hour}} à {{horaire.heureFerSoire|format_hour}}.</p>
<P class="horaire"> {{ horaire.jour }} est {{ horaire.description }}.</p>
{% endif %}
{% endfor %}
</div>


    {% if is_granted('ROLE_ADMIN') %}
    <button class="bouton">
    <a href="{{ path('app_horaire_new') }}"role="button"  class="btn "style=" color: #b18914;">
    <i ></i>
    Modifier          
    </a>
    </button>
    {% endif %}
    
</div> 
                        {# <br>Ouvert du Mardi au Dimanche de 12h00 à 14h30<br>
                        et de 19h00 à 22h30<br> #}
                            Tel : <strong>
                        <a style="font-family: playfair display; font-size: 18px; color: #343a40;" href="tel:+33144900295">01 00 00 00 00</a></strong>
                        <br>Email: <strong><a style="font-family: playfair display; font-size: 18px; color: #343a40;text-align: center; " href="email: contact@laVueDor.com"> contact@laVueDor.com</a></strong>
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </footer>
    {% block scripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}

</body>

</html>

<style>


.image-sombre{
width: 20%;
margin-top: -23px; 
margin-bottom: -30px; 

}
footer{
background-color: #fff3cd;
text-align: center;  
}
.footer{
    font-family: Bodoni, serif;
    letter-spacing: 0.05em;
    font-size: 2em;
    font-style: italic;
    color: #cd9700;
    text-align: center;    
}
.p{
    font-family: serif;
    color: #343a40;
    font-size: 1em;

}
.bouton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        border:lightgray ;
    }
.nav-link{
    white-space: nowrap;
}
</style>
