{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('app_listeplat') }}"><p class="retour";> < retour <p> </a>
                <h1 class="text-center">{% if mode == 'new' %}Ajouter{% else %}Modifier{% endif %} un Plat</h1>
        </div>
        </div>

        <div class="row justify-content-center align-items-center">
        {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate' }} ) }}
        <div class="form-group  " >
                {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'font '}}) }}
                {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.titre) }}
        
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'font '}}) }}
                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.description) }}
                               
                {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'font_prix '}}) }}
                {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.prix) }}

                {{ form_label(form.categoriserlesplats, 'Categoriser les plats', {'label_attr': {'class': 'font '}}) }}
                {{ form_widget(form.categoriserlesplats, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.categoriserlesplats) }}

            </div>
            {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
            </div>
            {% else %}
                <div class="col-md-8"></div>
            {% endif %} 
            <div class="form-group text-center">
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-lg btn-block', 'style': 'background-color: #b18914; color: #ffffff; border-color: #b18914; margin-top:10px; margin-bottom:20px;'} }) }}
            </div>
{# 
        {{ form_widget(form) }} #}

        {{ form_end(form) }}
        </div>
    </div>
</div>
<style>
    h1{
    font-family: Bodoni, serif;
    letter-spacing: 0.05em;
    font-size: 2.5em;
    font-style: italic;
    color: #cd9700;
    text-align:center;
}
    .container{
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #F9F9FA;
    color: #413C49;
    margin-top: 20px;
    margin-bottom: 20px;
}
.font{
margin-right:10em;
font-size: 17px;
margin-top:20px;
display: inline-block;
}
.font_prix{
font-size: 17px;
margin-top:20px;
display: inline-block;
}
.retour{
    color: #6b6b6b;
}
.btn-lg{
color: #fff;
margin-top: 30px;
}

</style>
{% endblock %}